.body {
  background-color: #FFC7C7;
}

.blue-bkg {
  background-color: #DEF7FD;
}

.pink-bkg {
  background-color: #FFC7C7;
}

.nav-text {
  text-align: center;
}

.nm {
  margin: 0;
}

#top-box {
  height: 17em;
  padding-top: 2.5em;
  text-align: center;
}

#hero {
  height: 
}